<div [ngClass]="{'hidden': loading, 'initial': !loading}" flex>
    <router-outlet></router-outlet>
    <div *ngIf="currentUrl !== '/privacy-policy'" style="position: sticky; bottom: 10px">
        <button routerLink="/privacy-policy" mat-raised-button>Privacy Policy</button>
    </div>
</div>
<div  [ngClass]="{'hidden': !loading}" class="full-height" flex-column center-content>
    <div flex-row center-content>
        <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
    </div>
</div>
