[mat-card-avatar] {
    height: 10%;
    width: 10%;
}
.card-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#user-bio {
    white-space: pre-line;
}
mat-card-content {
    display: none;
}
.counts {
    margin-right: 35px;
}