<div *ngIf="userProfile">
  <mat-card>
    <mat-card-header>
      <!-- <div mat-card-avatar style="background-size: cover" [ngStyle]="{'background-image': 'url(' + userProfile.profile_picture + ')'}"></div> -->
      <img [src]="userProfile.profile_picture" mat-card-avatar/>
      <div class="card-header">
        <mat-card-title>{{userProfile.full_name}}</mat-card-title>
        <mat-card-subtitle>{{userProfile.username}}</mat-card-subtitle>
        <div id="user-bio" [innerHTML]="userProfile.bio"></div>
        <div class="pad-top-10p">
          <span>{{userProfile.counts.followed_by}}<sub>followers</sub></span>&nbsp;//&nbsp;<span>{{userProfile.counts.follows}}<sub>following</sub></span>
        </div>
      </div>
    </mat-card-header>
  </mat-card>
  <div class="pad-top-10p">
    <mat-card *ngFor="let post of posts">
      <img [height]="post.images.standard_resolution.height" [width]="post.images.standard_resolution.width"  *ngIf="post.type === 'image'" [src]="post.images.standard_resolution.url" alt="">
      <video *ngIf="post.type === 'video'" [width]="post.videos.standard_resolution.width" [height]="post.videos.standard_resolution.width" controls>
        <source [src]="post.videos.standard_resolution.url" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </mat-card>
  </div>
</div>
<div *ngIf="!userProfile" class="full-height" flex-column center-content>
  <div flex-row center-content>
    <h4>Your profile will be shown here...</h4>
  </div>
</div>
